*.class
*.pyc
.idea/workspace.xml
/cpp/run.tests
/ocaml/_build
/ocaml/*.native
RubenAguilarBecerra/Tennis-Refactoring-Kata/csharp/Tennis/bin/*
RubenAguilarBecerra/Tennis-Refactoring-Kata/csharp/Tennis/obj/*
*.user
csharp/*.suo
*.swp
.DS_Store
csharp/.vs
